<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button class="menu-button" (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <mat-list>
      <mat-list-item routerLink="/home">Home</mat-list-item>
      <mat-list-item routerLink="/projects">Projekte</mat-list-item>
      <mat-list-item>About Me</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="margin: 50px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

