h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold
}

.some-page-wrapper {
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image {
  height: 100vh;
  float: left;
}

.personal-information {
  padding-top: 15vh;
  height: 100px;
}
.information-text{
  margin: 5px;
  padding-top: 10px;
  font-family: monospace;
  width: 50vh;
}



