<ng-container>
  <div class='some-page-wrapper'>
    <div class='row'>
      <div class='column'>
        <div class='image'>
          <img src="assets/images/sarina_portrait.jpg" style="height: 100%; width: 100%; object-fit: cover">
        </div>
      </div>
      <div class='column'>
        <div class='personal-information'>
          <h1>Sarina Wolf</h1>
          <div>
            <div class="information-text">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

